.DS_Store
minio_data
object_storage_data
coverage
.env
test
.dockerignore
Dockerfile
Dockerfile.serverless
docker-compose.yml
.eslintrc.js
.git
.gitignore
.prettierrc
nodemon.json
README.md
report.json

