name: Build and Deploy Docs

on:
  push:
    branches:
      - next
      - main
    paths:
      - '.github/workflows/build_publish_docs.yml'

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: './documentation/yarn.lock'

      - name: Debug directory structure
        run: |
          pwd
          ls -la
          ls -la docs || echo "docs directory not found"

      - name: Install dependencies
        run: cd documentation && yarn install --frozen-lockfile

      - name: Build website
        run: cd documentation && yarn build
        env:
          DOCS_BASE_URL: ${{ vars.DOCS_BASE_URL }}
          DOCS_URL: ${{ vars.DOCS_URL }}

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: documentation/build  

      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: './documentation/yarn.lock'  