name: Lint Commit Messages

on:
  pull_request:
    branches:
      - master

jobs:
  commitlint:
    name: Validate PR Title
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
      statuses: write
    steps:
      - uses: actions/checkout@v4

      - name: Check PR title
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            docs
            style
            refactor
            perf
            test
            build
            ci
            chore
            revert
          requireScope: false
          subjectPattern: ^.+$
          subjectPatternError: |
            The subject "{subject}" doesn't match the required pattern.
