name: Package

on:
  push:
    tags:
      - "v*.*.*" # vMAJOR.MINOR.PATCH | v0.0.1

  workflow_dispatch: # Manually run the workflow

  # Run the workflow when the Release Tagging workflow completes
  workflow_run:
    workflows: ['Release Tagging']
    types:
      - completed

env:
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: docker meta details
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{github.repository}}
          flavor: |
            latest=auto
          tags: |
            type=edge,branch=master
            type=semver,pattern={{version}}
            type=sha

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Release
        uses: docker/build-push-action@v5
        with:
          push: ${{ startsWith(github.ref, 'refs/tags/') }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          context: app
