name: Test Build

on:
  pull_request:
    branches:
      - next
      - master

jobs:
  test_build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node.js and Cache Dependencies
        uses: actions/setup-node@v4
        with:
          node-version: "21" # install Node.js v21.x
          cache: npm
          cache-dependency-path: app/package-lock.json # cache dependencies for the app

      - name: Install dependencies
        run: npm ci # Install dependencies
        working-directory: app

      - name: Format check
        run: npm run format:check
        working-directory: app

      - name: Lint
        run: npm run lint
        working-directory: app

      - name: Build
        run: npm run build # Build the application
        working-directory: app

      - name: Run tests
        run: npm run test -- --ci --coverage
        working-directory: app

  build_docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: "./documentation/yarn.lock"

      - name: Install and build documentation
        run: |
          cd documentation
          yarn install --frozen-lockfile
          yarn build
        env:
          DOCS_BASE_URL: ${{ vars.DOCS_BASE_URL }}
          DOCS_URL: ${{ vars.DOCS_URL }}
